<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".common.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.ui.login.LoginActivity"
            android:theme="@style/Theme.QRPointOfSales.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".auth.ui.registration.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="com.qr.pos.amper.common.ui.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".inventory.ui.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".cashier.ui.PosActivity"
            android:exported="false" />
        <activity
            android:name=".create_user.ui.UserCreateActivity"
            android:exported="false"/>
        <activity
            android:name=".accounting.ui.AccountingActivity"
            android:exported="false"/>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode,model2,model3" />
    </application>

</manifest>